[package]
name = "kernel_hal"
version = "0.1.0"
edition = "2024"

[dependencies]
loongarch64 = { version = "0.1.0", path = "../loongarch64" }
acpi = { version = "6.0.1", default-features = false, features = ["aml"] }
bitflags = "2.10.0"
limine = "0.5.0"
log.workspace = true
pastey = "0.2.0"
spin = "0.10.0"
bit_field = "0.10.3"
humansize = "2.1.3"
thiserror = { version = "2.0.17", default-features = false }
good_memory_allocator = "0.1.7"

[features]
default = ["smp"]
smp = []
